In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("holiday.csv")

In [34]:
df.head()

,Destinations,Feedback_Score,Hotel_Star_Rating,No_of_Inclusive_hotels,Most_visited_City
0,United Arab Emirates,6.0,3.5,900,Dubai
1,Canada,7.5,2.5,3000,Montral
2,France,6.5,3.5,2100,Paris
3,Portugal,7.5,3.0,1200,Porto
4,Hungary,7.0,2.5,800,Budapest

In [35]:
df.shape

(15, 5)

In [36]:
df.iloc[3:8]

,Destinations,Feedback_Score,Hotel_Star_Rating,No_of_Inclusive_hotels,Most_visited_City
3,Portugal,7.5,3.0,1200,Porto
4,Hungary,7.0,2.5,800,Budapest
5,Italy,9.0,3.5,1200,Rome
6,Thailand,6.5,2.5,700,Bangkok
7,Germany,7.0,4.0,950,Berlin

In [37]:
df.loc[3:8]

,Destinations,Feedback_Score,Hotel_Star_Rating,No_of_Inclusive_hotels,Most_visited_City
3,Portugal,7.5,3.0,1200,Porto
4,Hungary,7.0,2.5,800,Budapest
5,Italy,9.0,3.5,1200,Rome
6,Thailand,6.5,2.5,700,Bangkok
7,Germany,7.0,4.0,950,Berlin
8,Spain,8.5,3.5,850,Barcelona

In [89]:
df.head()

,Destinations,Feedback_Score,Hotel_Star_Rating,No_of_Inclusive_hotels,Most_visited_City
0,United Arab Emirates,6.0,3.5,900,Dubai
1,Canada,7.5,2.5,3000,Montral
2,France,6.5,3.5,2100,Paris
3,Portugal,7.5,3.0,1200,Porto
4,Hungary,7.0,2.5,800,Budapest

In [49]:
df['Hotel_Star_Rating'].mean()

3.3666666666666667

In [53]:
df.mean()

C:\Users\44790\AppData\Local\Temp/ipykernel_31976/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Feedback_Score                7.533333
Hotel_Star_Rating             3.366667
 No_of_Inclusive_hotels    1530.000000
dtype: float64

In [66]:
df.min()

Destinations                  Canada
Feedback_Score                   6.0
Hotel_Star_Rating                2.5
 No_of_Inclusive_hotels          250
Most_visited_City          Amsterdam
dtype: object

In [67]:
df.max()

Destinations               United States
Feedback_Score                       9.5
Hotel_Star_Rating                    4.5
 No_of_Inclusive_hotels             4500
Most_visited_City                   Rome
dtype: object

In [78]:
df.loc[df['Feedback_Score'] > 9, ['Destinations']]

      Destinations
14  United Kingdom

In [80]:
filt = df['Feedback_Score'] > 8
filt

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8      True
9     False
10    False
11    False
12     True
13     True
14     True
Name: Feedback_Score, dtype: bool

In [81]:
lowfil = df['Feedback_Score'] <2
lowfil

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: Feedback_Score, dtype: bool